/* 
* @Author: shenyoujian
* @Date:   2019-02-24 02:48:53
* @Last Modified by:   shenyoujian
* @Last Modified time: 2019-02-24 02:49:12
*/
.footer{
    margin-top: 20px;
    padding-bottom: 10px;
}
.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link{
    padding: 0 10px;
}
.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}